* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/* --------------------------- FONTS --------------------------- */

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(../fonts/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/websymbols-regular-webfont.woff) format("woff"),
        url(../fonts/websymbols-regular-webfont.ttf) format("truetype"),
        url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'WebSymbolsRegular';
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* --------------------------- HEADER --------------------------- */

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    padding: 0px 20px;
    transition: 0.9s;
    background: transparent;

    z-index: 10;

}

#header.down {
    background: #c00100;
    padding: 0px 20px;
    box-shadow: 0px 2px 4px #8080809d;

}

/* --------------------------- LOGO --------------------------- */

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;

}

/* --------------------------- LOGOTIPO --------------------------- */

#header .logotipo {
    position: relative;
    display: flex;
    justify-content: center;
    width: 180px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 4px;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: 1px 1px 2px #ccc;
    background: #cccccc21;
    border-radius: 8px;

    transition: all 300ms ease;
}

#header .logotipo:hover {
    box-shadow: 1px 1px 2px #ffda47;
}

/* --------------------------- NAVBAR --------------------------- */

#nav {
    width: 55%;
    height: 80px;
}

#header ul {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
}

#header ul li {
    list-style: none !important;
    width: 100%;
}


#header ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 55px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
}

#header ul li a:hover {
    color: #ffda47;
}

/* --------------------------- DROP-DOWN NAVBAR --------------------------- */
#nav ul li ul {
    display: none;
    position: absolute;
    width: 140px;
    background: #00000041;
    list-style: none;
    z-index: 3;
}


#nav ul li:hover ul {
    display: block;
    padding-top: 0px;
    padding-left: 0px;
    animation: show 400ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header.down ul li a:hover {
    color: #ffda47;
    ;
}

#nav ul li:hover ul li {
    background: #c00100;
}

#nav ul li:hover ul li a:hover {
    display: flex;
    width: 100%;
    background: #a03030a2;
    text-decoration: none;
}

#header.down .logotipo,
#header.down ul li a {
    color: white;
    border-color: white;
}

/*--------------------- SECTION ONE ----------------------------*/

.section_one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/home-bg.gif);
    background-size: cover;
    background-position: center center;
}

.section_one__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    padding: 20px;
    font-size: 35px;
    font-style: italic;
    color: white;
}

.section_one__box a {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 220px;
    margin-top: 5px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

.section_one__box a:hover {
    color: #ffda47;
    border-color: #ffda47;
}

/* ------------------------------------- FIRST BANNER ------------------------------------------ */
#banner_one {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    background: center fixed url(../img/cafe-1.gif);
    background-size: cover;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    margin-bottom: 100px;
}

#banner_one .banner_one__banner>a {
    padding: 0.6rem 3.5rem;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;
    font-size: 0.9rem;
    border: 2px solid #ccc;
    color: white;
}

#banner_one .banner_one__banner>a:hover {
    color: #ffda47;
    border-color: #ffda47;
}

.banner_one__banner {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

/* --------------------------- SECTION TWO --------------------------- */

#sectionTwo {
    display: flex;
    flex-direction: column;
    margin: 0px auto;

    /* width: 90%; */
    height: 400px;
    text-align: center;
    background: url(../img/sect-two-bg.png);
    background-size: cover;
    background-position: top top;
    margin-bottom: 100px;
}

#sectionTwo .articles {
    display: flex;
    justify-content: space-between;
    /* margin: 0px auto; */
    width: 100%;
    margin-top: 40px;
}

#sectionTwo .article>img {
    display: block;
    margin: 0px auto;
    width: 70px;
    margin-bottom: 10px;
}

#sectionTwo .article {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    padding: 0px 35px;
}

/* --------------------------- SECOND BANNER --------------------------- */

#banner_two {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: left;
    background: center fixed url(../img/banner-1.jpg);
    background-size: cover;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    /* margin-bottom: 100px; */
}

#banner_two .banner_tow__banner>a {
    padding: 0.6rem 3.5rem;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;
    font-size: 0.9rem;
    border: 2px solid #ccc;
    color: white;
}

#banner_two .banner_tow__banner>a:hover {
    color: #ffda47;
    border-color: #ffda47;
}

.banner_tow__banner {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto;
}


/* --------------------------- SECTION THREE --------------------------- */

#section_three {
    display: flex;
    width: 90%;
    height: 400px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.overlay {
    position: relative;
    flex: 1;
    overflow: hidden;
    margin: 15px;
    box-shadow: 10px 20px 10px #0000005d;
}

.overlay>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

#section_three>.overlay>.capa {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #00000080;
    transition: all 0.4s ease-in-out;
}

#section_three>.overlay:hover>.capa {
    opacity: 1;
    visibility: visible;
}


#section_three>.overlay:hover>img {
    opacity: 0.8;
    transform: scale(1.2);
}

.capa>a {
    display: block;
    font-size: 55px;
    text-decoration: none;
    margin-bottom: 320px;
    color: wheat;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px #333333, 0px 2px 2px #333333;
    transition: all 300ms ease-in-out;
}

#section_three>.overlay:hover>.capa a {
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;

}

#section_three>.overlay:hover>.capa a:hover {
    color: #ffda47;
    transform: scale(1.08);
}

.capa>p {
    width: 100%;
    font-size: 22px;
    color: white;
    text-shadow: 0px 0px 2px #333333, 0px 2px 2px #333333;
}



/* --------------------------- NEW FOOTER --------------------------- */

#new_footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    transform: translateY(40px);
    transition: 0.6s;
}

#new_footer .foContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    transition: 0.7s ease-out;
}


#new_footer .foContainer .social a {
    color: #ddd;
    text-decoration: none;
    font-size: 20px;
}

#new_footer.downFooter {
    height: 40px;
    background: #c00100;
    color: white;
    transform: translateY(0px);
}

#new_footer.downFooter .foContainer {
    padding: 0px 20px;
    font-size: 18px;
}


#new_footer.downFooter .foContainer a {
    color: white;
    font-size: 25px;
}

#new_footer.downFooter .foContainer a:hover {
    color: gray;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 470px;
    background: black;
    color: white;
    overflow: hidden;
}

#footer .wrap>div {
    float: left;
    width: 25%;
    height: 370px;
    margin: 40px;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

#footer h5 {
    display: block;
    background: white;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#footer ul {
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

#footer ul li {
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}


#footer ul li a {
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li:hover a {
    padding-left: 20px;
    color: #ffda47;
    width: 100%;
}

#footer iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
}